In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("advertising.csv")

In [3]:
df.shape

(200, 4)

In [4]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [5]:
Y=df["Sales"]
Y=np.array(Y)
X=df.drop(columns=["Sales"]);
X=np.array(X)

#split and standardization
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=42)

In [6]:
## standarization
def standarization(X_train,Y_train,X_test,Y_test):
    mean=np.mean(X_train,axis=0)
    stan_dev=np.std(X_train,axis=0)
    X_train=(X_train-mean)/stan_dev
    X_test=(X_test-mean)/stan_dev
    mean_y=np.mean(Y_train)
    stan_y=np.std(Y_train)
    Y_train=(Y_train-mean_y)/stan_y
    Y_test=(Y_train-mean_y)/stan_y

standarization(X_train,Y_train,X_test,Y_test);

In [7]:
def online_learning(x, y, w):
    learning_rate=0.0001
    loss=[]
    for i in range(len(x)):
        y_pred = sum([w[j] * x[i][j] for j in range(len(x[i]))])
        y_pred+= w[-1] # bias term
        error = y[i] - y_pred
        for j in range(len(w)):
            if(j==len(w)-1):
                w[j] -= -2*learning_rate * error #bias term diffrention different
            else:
               w[j] -= -2*learning_rate * error * x[i][j]  
        # plt.plot(loss)
    # plt.show()

w=[1,1,1]
online_learning(X_train,Y_train,w)

In [8]:
diff=0
for i in range(len(X_test)):
    y_pred=sum([w[j] * X_test[i][j] for j in range(len(X_test[i]))])+w[-1]
#    print("actual : ",y[i])
    diff+=abs(Y_test[i]-y_pred)

print("avg diff ",diff/len(X_test))

avg diff  1.1889550925823234e+72

In [9]:
Y=df["Sales"]
Y=np.array(Y)
X=df.drop(columns=["Sales"]);
X=np.array(X)

In [10]:
max_x=np.max(X_train,axis=0)
min_x=np.min(X_train,axis=0)
min_y=np.min(Y_train)
max_y=np.max(Y_train)

In [11]:
X_train=(max_x-X_train)/(max_x-min_x)
Y_train=(max_y-Y_train)/(max_y-min_y)
X_test=(max_x-X_test)/(max_x-min_x)
Y_test=(max_y-Y_test)/(max_y-min_y)

In [12]:
w=[1,1,1]
online_learning(X_train,Y_train,w)

In [13]:
diff=0
for i in range(len(X_test)):
    y_pred=sum([w[j] * X_test[i][j] for j in range(len(X_test[i]))])+w[-1]
#    print("actual : ",y[i])
    diff+=abs(Y_test[i]-y_pred)

print("avg diff ",diff/len(X_test))

avg diff  2.137050759598639