In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("advertising.csv")

In [7]:
df.shape

(200, 4)

In [8]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [9]:
Y=df["Sales"]
Y=np.array(Y)
X=df.drop(columns=["Sales"]);
X=np.array(X)

In [22]:
## standarization
mean=np.mean(X,axis=0)
stan_dev=np.std(X,axis=0)
X=(X-mean)/stan_dev
mean_y=np.mean(Y)
stan_y=np.std(Y)
Y=(Y-mean_y)/stan_y

76.7535047261687